affine
attrs
cchardet
certifi
chardet
click
click-plugins
cligj
dateparser
decorator
findspark
Fiona
geographiclib
geopandas
geopy
gtfs-functions
idna
isoweek
munch
networkx
numpy
pandas
partridge
plotly>=4.14.3
polyline
py4j
pyparsing
pyproj
pyspark
python-dateutil
pytz
rasterio
regex
requests
retrying
Rtree
Shapely
six
snuggs
tqdm
tzlocal
urllib3
xlsxwriter
tensorflow
h5py
dash-renderer>=1.6.0
dash-html-components>=1.0.3
dash-core-components>=1.10.2
dash>=1.16
dash-bootstrap-components
gunicorn>=19.7.1
dask[complete]
pyarrow
jupyterlab